body 
{
    font-family: 'Raleway', sans-serif;;
    margin: 0;
}

a
{
    text-decoration: none;
}

header
{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.navbar
{
    display: grid;
    justify-content: content;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . hebergement activites inscription";
}

.navbar .navbar-link 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

#logo
{
    padding: 0;
    grid-area: logo;
}

#navbar-hebergement
{
    grid-area: hebergement;
}

#navbar-hebergement:hover
{
    color: #0065fc;
    border-top: solid #0065fc;
    border-bottom: none;
}

#navbar-hebergement a
{
    color: black;
}

#navbar-hebergement a:hover
{
    color: #0065fc;
}

#navbar-activites
{
    grid-area: activites;
}

#navbar-activites:hover
{
    color: #0065fc;
    border-top: solid #0065fc;
    border-bottom: none;
}

#navbar-activites a
{
    color: black;
}

#navbar-activites a:hover
{
    color: #0065fc;
}

#navbar-inscription
{
    grid-area: inscription;
}

#navbar-inscription a
{
    color: #0065fc;
    font-weight: bold;
}

main
{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.titre1
{
    font-size: 32px;
    margin: 10px 0;
}

.soustitre
{
    margin: 5px 0;
}

.bloc-recherche
{
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.icon-location
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.barre-recherche
{
    width: 230px;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}

.bouton-recherche
{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 0 15px 15px 0;
}

#icon-recherche
{
    display: none;
}

.titre2
{
    display: inline;
    font-size: 24px;
}

.ul-filtres
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.ul-filtres li
{
    display: inline;
    padding: 0 20px 0 0;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    border: solid 2px #f2f2f2;
    border-radius: 100px ;
}

.ul-filtres li:hover
{
    cursor: pointer;
}

.icon-filtres
{
    color: #0065fc;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    border-radius: 100px;
}

.info .fas
{
    color: #0065fc;
    padding: 20px;
}

.info p
{
    display: inline;
}

@media screen and (max-width: 750px)
{
    .navbar
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo inscription"
        "hebergement activites";
    }

    #navbar-hebergement
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #f2f2f2;
    }

    #navbar-hebergement:hover
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #0065fc;
    }

    #navbar-activites
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #f2f2f2;
    }

    #navbar-activites:hover
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #0065fc;
    }

    .bloc-recherche
    {
        position: relative;
    }

    .barre-recherche
    {
        width: 300px;
        height: 42px;
    }

    .bouton-recherche
    {
        display: none;
    }

    #icon-recherche
    {
        display: block;
        position: absolute;
        right: -20px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 450px)
{
    .bloc-recherche
    {
        width: 80%;
    }
}