body 
{
    font-family: 'Raleway', sans-serif;;
    margin: 0;
}

a
{
    text-decoration: none;
}

header
{
    width: 98%;
    margin: auto;
}

.navbar
{
    display: grid;
    justify-content: content;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . hebergement activites inscription";
}

.navbar .navbar-link 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

#logo
{
    padding: 0;
    grid-area: logo;
}

#navbar-hebergement
{
    grid-area: hebergement;
}

#navbar-hebergement:hover
{
    color: #0065fc;
    border-top: solid #0065fc;
}

#navbar-hebergement a
{
    color: #0065fc;
}

#navbar-activites
{
    grid-area: activites;
}

#navbar-activites:hover
{
    color: #0065fc;
    border-top: solid #0065fc;
}

#navbar-activites a
{
    color: black;
}

#navbar-inscription
{
    grid-area: inscription;
}

#navbar-inscription a
{
    color: #0065fc;
    font-weight: bold;
}

main
{
    width: 98%;
    margin: auto;
}

.titre1
{
    font-size: 32px;
    margin: 10px 0;
}

.soustitre
{
    margin: 5px 0;
}

.bloc-recherche
{
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.icon-location
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.barre-recherche
{
    width: 230px;
    height: 50px;
    padding: 0 0 0 20px;
}

.bouton-recherche
{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0 15px 15px 0;
}

@media screen and (max-width: 750px)
{
    .navbar
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo inscription"
        "hebergement activites";
    }

    #navbar-hebergement:hover
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #0065fc;
    }

    #navbar-activites:hover
    {
        color: #0065fc;
        border-top: none;
        border-bottom: solid #0065fc;
    }
}