body
{
    font-family: 'Raleway';
    display: block;
}

header
{
    width: 100%;
    margin: auto;
}

.navbar
{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . hebergements activites inscription"
}

#logo
{
    padding: 0;
}

.navbar a
{
    text-decoration: none;
    padding: 25px;
}

.navbar .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar img
{
    grid-area: logo;
}

#navbar-hebergement
{
    grid-area: hebergements;
}

#navbar-hebergement a
{
    color: #0065fc;
}

#navbar-activites
{
    grid-area: activites;
}

#navbar-activites a
{
    color: black;
}

#navbar-inscription
{
    grid-area: inscription;
    font-weight: bold;
}

#navbar-inscription a
{
    color: #0065fc;
}

main
{
    width: 100%;
    margin: auto;
}

.titre1
{
    font-size: 32px;
    margin: 10px 0;
}

h1 {
    display: block;
    font-weight: bold;
}

.soustitre
{
    margin: 6px 0px;
}

p
{
    display: block;
}

.bloc-recherche 
{
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
  }

.icon-location 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt 
{
    font-size: 17px;
}

.barre-recherche 
{
    padding: 0 0 0 16px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
  
.barre-recherche::placeholder 
{
    color: rgb(170, 170, 170);
    font-size: 16px;
    font-weight: 600;
}

.bouton-recherche
{ 
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    padding: 17px;
}

.bouton-recherche:hover
{
    background-color: #003c96;
}

.bouton-recherche

@media screen and (max-width: 768px) 
{
    .navbar
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo inscription"
        "hebergements activites";
    }

}